<table>
  <tr>
    <th>accent</th>
    <th>No value</th>
    <th>0%</th>
    <th>50%</th>
    <th>100%</th>
  </tr>

  <tr>
    <td>default</td>
    <td>
      <gux-radial-progress></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress value="0" max="10"></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress value="5" max="10"></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress value="10" max="10"></gux-radial-progress>
    </td>
  </tr>

  <tr>
    <td>neutral</td>
    <td>
      <gux-radial-progress accent="neutral"></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="0"
        max="10"
        accent="neutral"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="5"
        max="10"
        accent="neutral"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="10"
        max="10"
        accent="neutral"
      ></gux-radial-progress>
    </td>
  </tr>

  <tr>
    <td>positive</td>
    <td>
      <gux-radial-progress accent="positive"></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="0"
        max="10"
        accent="positive"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="5"
        max="10"
        accent="positive"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="10"
        max="10"
        accent="positive"
      ></gux-radial-progress>
    </td>
  </tr>

  <tr>
    <td>alert</td>
    <td>
      <gux-radial-progress accent="alert"></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="0"
        max="10"
        accent="alert"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="5"
        max="10"
        accent="alert"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="10"
        max="10"
        accent="alert"
      ></gux-radial-progress>
    </td>
  </tr>

  <tr>
    <td>warning</td>
    <td>
      <gux-radial-progress accent="warning"></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="0"
        max="10"
        accent="warning"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="5"
        max="10"
        accent="warning"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="10"
        max="10"
        accent="warning"
      ></gux-radial-progress>
    </td>
  </tr>

  <tr class="grey-background">
    <td>default</td>
    <td>
      <gux-radial-progress></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress value="0" max="10"></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress value="5" max="10"></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress value="10" max="10"></gux-radial-progress>
    </td>
  </tr>

  <tr class="grey-background">
    <td>neutral</td>
    <td>
      <gux-radial-progress accent="neutral"></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="0"
        max="10"
        accent="neutral"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="5"
        max="10"
        accent="neutral"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="10"
        max="10"
        accent="neutral"
      ></gux-radial-progress>
    </td>
  </tr>

  <tr class="grey-background">
    <td>positive</td>
    <td>
      <gux-radial-progress accent="positive"></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="0"
        max="10"
        accent="positive"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="5"
        max="10"
        accent="positive"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="10"
        max="10"
        accent="positive"
      ></gux-radial-progress>
    </td>
  </tr>

  <tr class="grey-background">
    <td>alert</td>
    <td>
      <gux-radial-progress accent="alert"></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="0"
        max="10"
        accent="alert"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="5"
        max="10"
        accent="alert"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="10"
        max="10"
        accent="alert"
      ></gux-radial-progress>
    </td>
  </tr>

  <tr class="grey-background">
    <td>warning</td>
    <td>
      <gux-radial-progress accent="warning"></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="0"
        max="10"
        accent="warning"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="5"
        max="10"
        accent="warning"
      ></gux-radial-progress>
    </td>
    <td>
      <gux-radial-progress
        value="10"
        max="10"
        accent="warning"
      ></gux-radial-progress>
    </td>
  </tr>
</table>

<style>
  .grey-background {
    background-color: #d3dae2;
  }
</style>
